<div class="app-loading">

  <div class="row">
    <div class="col-md-6 text-center">

      <div class="operation-information">

        <div class="text-center img-success">
          <img src="assets/img/checked.png" alt="product">
        </div>

      </div>
    </div>
    <div class="col-md-6">

      <div class="operation-information">


        <h2>Prezado (a) cliente,</h2>

        <p>Informamos que o pagamento da sua locação 552357 foi aprovado.</p>

        <p>Pedido:
          <span>
            <b>552357</b>
          </span>
        </p>

        <p>Locação até:
          <span>05/06/2018</span>
        </p>

        <p>Item:
          <span>Bicicleta Caloi</span>
        </p>

        <p>Valor:
          <span>R$: 10,00 | Quantidade de dias: 3 | Valor total: R$: 10,00</span>
        </p>

        <br>
        <br>
        <p>
          <span>
            Total Descontos: R$ 0.00
          </span>
          <br>
          <span>
            Total da compra: R$: 10,00
          </span>
        </p>

      </div>

    </div>

  </div>

  <div class="row">
    <div class="col-md-12 text-right">
      <hr>
      <a routerLink="/" class="btn btn-default">Nova locação</a>
    </div>
  </div>

</div>