<div class="text-center">

  <h1>SELECIONE A MELHOR OPÇÃO PARA VOCÊ</h1>

</div>

<ul class="list-group option-list">

  <li class="list-group-item">
    <a routerLink="/details">
      <div class="sub-bloco">
        <img class="img-responsive img-option" src="assets/img/bicicleta01.jpeg" alt="logo">
      </div>

      <div class="sub-bloco descricao">
        <label>Caloi 10</label>
        <p>Localização: 30m</p>
      </div>

      <div class="sub-bloco text-right preco">
        <p>R$: 10,00 h</p>
      </div>
    </a>
  </li>

  <li class="list-group-item">
    <a routerLink="/details">
      <div class="sub-bloco">
        <img class="img-responsive img-option" src="assets/img/bicicleta02.jpeg" alt="logo">
      </div>

      <div class="sub-bloco descricao">
        <label>Caloi 10</label>
        <p>Localização: 70m</p>
      </div>

      <div class="sub-bloco text-right preco">
        <p>R$: 5,00 h</p>
      </div>
    </a>
  </li>

  <li class="list-group-item">
    <a routerLink="/details">
      <div class="sub-bloco">
        <img class="img-responsive img-option" src="assets/img/bicicleta03.jpeg" alt="logo">
      </div>

      <div class="sub-bloco descricao">
        <label>Caloi 10</label>
        <p>Localização: 120m</p>
      </div>

      <div class="sub-bloco text-right preco">
        <p>R$: 5,00 h</p>
      </div>
    </a>
  </li>

  <li class="list-group-item">
    <a routerLink="/details">
      <div class="sub-bloco">
        <img class="img-responsive img-option" src="assets/img/bicicleta04.jpeg" alt="logo">
      </div>

      <div class="sub-bloco descricao">
        <label>Caloi 10</label>
        <p>Localização: 80m</p>
      </div>

      <div class="sub-bloco text-right preco">
        <p>R$: 5,00 h</p>
      </div>
    </a>
  </li>

  <li class="list-group-item">
    <a routerLink="/details">
      <div class="sub-bloco">
        <img class="img-responsive img-option" src="assets/img/bicicleta05.jpeg" alt="logo">
      </div>

      <div class="sub-bloco descricao">
        <label>Caloi 10</label>
        <p>Localização: 100m</p>
      </div>

      <div class="sub-bloco text-right preco">
        <p>R$: 5,00 h</p>
      </div>
    </a>
  </li>

</ul>