<form>


  <!--
  <div class="form-group">
    <label for="address">Address</label>
    <input type="email" class="form-control" id="address" placeholder="Address">
  </div>
  -->
  <div class="text-center">

    <h1>Selecione o que deseja alugar</h1>

    <div class="box-iten">
      <a href="#">
        <img class="img-responsive" src="assets/img/bike.png" alt="logo">
      </a>
    </div>

    <div class="box-iten">
      <a href="#">
        <img class="img-responsive" src="assets/img/roller-skate.png" alt="logo">
      </a>
    </div>

  </div>

  <div>
    <button type="submit" class="btn btn-default">Submit</button>
  </div>

</form>