<div class="text-center">

  <h1>SELECIONE O QUE DESEJA ALUGAR</h1>

  <div class="intes">

    <div class="box-iten">
      <a routerLink="/options" routerLinkActive="active">
        <img class="img-responsive" src="assets/img/bike.png" alt="logo">
      </a>
    </div>

    <div class="box-iten">
      <a routerLink="/options" routerLinkActive="active">
        <img class="img-responsive" src="assets/img/roller-skate.png" alt="logo">
      </a>
    </div>

    <div class="box-iten">
      <a routerLink="/options" routerLinkActive="active">
        <img class="img-responsive" src="assets/img/car.png" alt="logo">
      </a>
    </div>

    <div class="box-iten">
      <a routerLink="/options" routerLinkActive="active">
        <img class="img-responsive" src="assets/img/skateboard.png" alt="logo">
      </a>
    </div>
  </div>

</div>