<div class="text-center">
  <h1>DETALHES DO PRODUTO</h1>
</div>

<div class="row">

  <div class="col-md-4">

    <div class="text-center">
      <img src="assets/img/bicicleta01.jpeg" alt="product">
    </div>

  </div>

  <div class="col-md-4 bloco-descricao">

    <div>
      <label>Nome:</label>
      <span>Bicicleta</span>
    </div>

    <div>
      <label>Marca:</label>
      <span>Caloi 10</span>
    </div>

    <div>
      <label>Cor:</label>
      <span>Preta</span>
    </div>

    <div>
      <label>Faixa Etaria:</label>
      <span>Adulto</span>
    </div>

    <div>
      <label>Aro:</label>
      <span>15</span>
    </div>

    <div>
      <label>Preço:</label>
      <span>R$ 10,00</span>
    </div>
  </div>

  <div class="col-md-4 bloco-descricao">

    <div>
      <label>Marchas:</label>
      <span>5</span>
    </div>

    <div>
      <label>Corrente:</label>
      <span>KMC</span>
    </div>

    <div>
      <label>Pedal:</label>
      <span>Plástico</span>
    </div>

    <div>
      <label>Guidão:</label>
      <span>MTB</span>
    </div>

    <div>
      <label>Peso maximo Suportado:</label>
      <span>100 KG</span>
    </div>

    <div>
      <label>Localização:</label>
      <span>100m</span>
    </div>

  </div>

</div>

<div class="row">
  <div class="col-md-12 text-right">

    <hr>

    <a routerLink="/checkout" class="btn btn-primary botao-proximo">Alugar</a>

  </div>
</div>
